*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background:  rgb(242, 244, 248);  
}
.header{
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    position: relative;
    z-index: 100;
}

.menu-bar{
    position: relative;
    z-index: 9;
   width: 100%;
    text-align:initial;
    font-family: 'Saira', sans-serif;
    background: linear-gradient(45deg, #eb9d3c, #cb26c6, #8334db, #db4fe5, #f5b02f,#E59866 );
    height: 65px;
    box-shadow: 0px 8px 24px rgba(0,0,0,0.5);
    margin-bottom: 45px;
    display: flex;
    background-size: auto;
    background-size: 300% 300%;
    animation: gradient 13s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.menu-bar ul {
    display: flex;
    list-style: none;
    color: #fff;
}
.menu-bar li{
    
    width: 160px;
    margin: 10px;
    padding: 6px;
    box-shadow: inset 0 0 0 0 #ffff;
    transition: ease-in-out 0.5s;
}
.menu-bar ul li a {
    text-decoration: none;
    color: aliceblue;
    transition:  0.4s all;
   
}
.menu-bar ul li :hover{
    z-index:99;
    color: #ffffff;
    box-shadow: 0px 0px 45px rgba(0,0,0,5.8);
    box-sizing:border-box;
transform: scale(1.0);

    
}
.menu-bar .fa{
    margin: 6px;
}

.navbar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-top: -113px;
    padding: 0px;
    z-index: 3;
    background: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    box-shadow: 0px 8px 24px rgb(0 0 0 / 60%);
    
}


.navbar ul {
    display: flex;
    list-style: none;
    color: #fff;
}
.navbar li{
    
    width: 100%;
    margin: 2px;
    padding: 7px;
   
}
.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14.5px;
    letter-spacing:0.8px;
    font-weight: bold;


    
}

.navbar ul li a:hover{
  color:#2ECC71  ;
}



.col-lg-3{
    display: flex;
    float: left;
    margin-top: 22px;
}
.card {
    position: relative;
display: flex;
margin-top: 0px;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
color: #fff;
background-clip: border-box;
border:4px solid #eaeff1;
border-radius: 9px;
background: rgb(255, 255, 255);
top: 3px;
left: 5px;
z-index: 0;
box-shadow: 0px 6px 45px 8px rgb(0 0 0 / 10%);
height: 510px;
width: 251px;
transition: 0.5s all;

}
.card:hover{
    z-index:1;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.2);
transform: scale(1.1);
}

.btn-primary {
    width: 84%;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 18px;
    position: relative;
    left: 16px;
    transition: 0.3s all;
    background: linear-gradient(45deg, #3d61be, #3749BB, #0BC1E9, #3749BB, #00237E);
    background-size: auto;
background-size: 300% 300%;
animation: gradient 7s ease infinite;
border: none;
line-height: 29px;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.btn-primary:hover{
    z-index:1;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.2);
    
    transform: scale(1.1);
}
.btn-success{
    width: 28%;
    outline: none;
    border-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    margin-bottom: 0px;
    position: relative;
    transition: 0.4s all;
    background: linear-gradient(45deg, #4c72d3, #3749BB, #0BC1E9, #3749BB, #00237E);
        background-size: auto;
    background-size: auto;
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
    border: none;
    line-height: 25px;
    left: 3%;
}
.btn-success:hover{
    z-index:1;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.5);
    transform: scale(1.1);
}

.btn-warning {
    width: 84%;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.3s all;
    position: relative;
    left: 16px;
border: none;
    border-radius: 10px;
}
.btn-warning:hover{
    z-index:1;
    box-shadow: 0px 0px 45px rgba(0,0,0,0.2);
    
    transform: scale(1.1);
}
.btn-primary:disabled{
   text-align:center;
    background-color: #2b2c2f00;
color: #fff;
outline: none;
border: none;
border-radius: 10px;
position: relative;
left: 13px;
}
.card-body i{
  margin: 5px;
  color: #17202A;
}
.card-text span{
    margin: 1px;
    color: #17202a ;
}
.card-text h6{
    text-align: initial;
    font-size: 14.5px;
    color: #17202A;
    font-weight: 650;
    margin-top:10px;
}
.card-text h5{
    text-align: center;
font-size: 22px;
    color:   #000000 
    ;
    font-weight: 722;
}
.card-title {
    margin-bottom: -1px;
font-weight: 700;
padding: 10px;
color: #17202A;
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem 2.1rem;
    color: #17202A;
}
.mb-3 {
    margin-bottom: 19px !important;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 27%;
    margin-top: 14px;
    left: 49%;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #534ca3;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.form-control {
    display: block;
    width: 135%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group .btn {
    position: relative;
    z-index: 2;
    top: -40%;
    left: 140%;
    width: 54%;
    border-radius: 3px;
    line-height: 26px;
}
